#buy-the-bean h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
    color: #ffffff;
}

#buy-the-bean .desc {
    color: #ffffff;
    text-align: center;
}

#buy-the-bean .card {
    border: 0;
    height: 100%;
}

#buy-the-bean .card img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

#buy-the-bean .card-footer p {
    margin-bottom: 0;
    font-weight: bold;
    color: #382925;
    text-align: center;
}

#buy-the-bean .product-name {
    text-transform: uppercase;
    font-size: 14px;
}

#buy-the-bean .splide__arrows .splide__arrow {
    background-color: #382925;
    padding: 25px;
    opacity: 100;
    border: 1px solid #ffffff;
    transition: ease-in-out .2s;
}

#buy-the-bean .splide__arrows .splide__arrow:hover {
    filter: brightness(80%);
}

#buy-the-bean .splide__arrows .splide__arrow i {
    color: #be8c60;
    font-size: 20px;
    vertical-align: middle;
}

#buy-the-bean .splide__pagination {
    margin-bottom: -60px;
}

#buy-the-bean .splide__pagination {
  counter-reset: pagination-num;
}

#buy-the-bean .splide__pagination__page:before {
  counter-increment: pagination-num;
  content: counter( pagination-num );
  color: #ffffff;
}

#buy-the-bean .splide__pagination__page {
    background-color: #382925;
    opacity: 100;
    border-radius: 0 !important;
    width: 35px;
    height: 35px;
    margin: 0px 5px;
    font-size: 20px;
}

#buy-the-bean .splide__pagination__page.is-active {
    background-color: #be8c60;
    transform: none;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #buy-the-bean .splide__arrows .splide__arrow--prev {
        margin-left: -60px;
    }

    #buy-the-bean .splide__arrows .splide__arrow--next {
        margin-right: -60px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #buy-the-bean .splide__arrows .splide__arrow--prev {
        margin-left: -80px;
    }

    #buy-the-bean .splide__arrows .splide__arrow--next {
        margin-right: -80px;
    }
}