#facility h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
    color: #ffffff;
}

#facility .row {
    text-align: center;
}

#facility .icon {
    background: #be8c60;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    padding: 25px;
}

#facility .icon i {
    color: #ffffff;
    font-size: 20px;
}

#facility p {
    color: #ffffff;
    margin-top: 25px;
    font-weight: bold;
}